@import './color'
@import './fonts'
.feed
    width: 100%
    height: 89vh

    background-color: $primary-color
    border-top: 2px solid black

    font-family: $font-familly
    position: absolute
    top: 10vh
    left: 0
    .feed-menu
        list-style-type: none 
        justify-content: center
        display: flex
        li
            margin: 15px
            a
                font-size: large
                text-decoration: none
                color: $font-color
    .feed-list
        margin-left: 25px
        border-bottom: 1px solid black 
        a
            margin-left: 25px 
            color: black
            &:link
                color: black
            &:visited
                color: black
            &:hover
                text-decoration: underline
    .manage
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        div
            height: 25%
            text-align: left
            label                
                text-align: left
              


    .invisible
        display: none
    a
        text-decoration: none
        padding: 15px
        color: black
        &:link
            color: black
        &:visited
            color: black